body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    width: auto;
    padding-bottom: 120px;
}
.top-banner{
    background-image: url("./image/Frame\ 57.jpg");
    background-repeat: no-repeat;
    margin: 0;
}
.half-width{
    width:30%;
    float: left;
    margin-left: 15%;
    padding-left: 2%;
}
h1{
    font-size: 35px;
    font-weight: 900;
    margin-top: 90px;
    font-family: monospace;
}
h1 span{
    color: rgb(10, 93, 247);
}
.half-width img{
    width: 485px;
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(122, 228, 255), rgb(7, 111, 143));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    color: rgb(90, 87, 87);
    margin: 5% 0 20% 0% ;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.masterchef{
    background-image: url("./image/Frame\ 56.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.half-width1{
    width:25%;
    float: left;
    margin-left: 15%;
    padding-left: 2%;
}
.half-width1 img{
    width: 100%;
    margin-top: 25%;
}
.half-width1 h2{
    font-size: 30px; 
    margin-top: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.food-item{
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
}
.food-item h2{
    text-align: center;
    margin-top: 8%;
    font-size: 35px;
}
.food-item p{
    text-align: center;
    margin: 2% 20%;
}
.food-item div{
    box-shadow: 5px 7px 40px gray;
    border-radius: 30px;
    height: 110%;
    margin-left: 4.5%;
}
.half-width2 img{
    width: 92%;
    margin-top: 8%;
}
.half-width2 h2{
    font-size: 25px;
    text-align: left;
    margin-top: 5%;
}
.half-width2 p{
    font-size: 15px;
    text-align: left;
    margin:2%;
    font-family: cursive;
}
.footer{
    background-color: black;
    background-size: cover;
    margin-top: 150px;
    margin-bottom: 0%;
    height: 250px;
}
.footer h3{
    text-align: center;
    color: rgb(134, 134, 131);
    padding-top: 4%;
    font-size: 35px;
}
.footer h3 span{
    color: dodgerblue;
}
.footer p{
    text-align: center;
}